<app-header></app-header>
<div class="padre">
  <img src="https://i.pinimg.com/originals/d1/7a/d8/d17ad80144ef56adbf58a17a686ea619.jpg" class="background-image">
  <div id="resultContainer" class="content">
    <select id="archetypeList" [(ngModel)]="selectedArchetype">
      <option value="">Selecciona un arquetipo</option>
      <option *ngFor="let archetype of archetypes" [value]="archetype.archetype_name">{{archetype.archetype_name}}</option>
    </select>
    
    <button (click)="fetchArchetypeCards()">Buscar Cartas</button>
    
    <div *ngIf="arquetypeCards" class="scroll-container">
      <h2>Cartas encontradas:</h2>
      <div *ngFor="let card of arquetypeCards" class="card"> 
          <h3>{{card.name}}</h3>
          <img [src]="getCardImageUrl(card.id)">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
