<div class="padre">
    <header class="header">
      <div class="menu margen-interno">
        <div class="nav">
          <a routerLink='/home'>Inicio</a>
          <a routerLink='/search'>Buscador de Cartas</a>
          <a routerLink='/archetype'>Arquetipos</a>
          <a routerLink='/all-cards'>Todas Las Cartas</a>
          <a routerLink='/about-it'>Acerca de</a>
          <button (click)="logout()" type="button" class="btn btn-primary btn-lg px-4 gap-3">Logout</button>
        </div>
      </div>
    </header>
  </div>
  